@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    color: #243e63;
}

#landing {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo__img {
    width: 40px;
    height: 40px;
    margin: 24px 24px;
}
.logo__title {
    font-size: 24px;
    font-weight: bold;
}

.row {
    display: flex;
    align-items: center;
}

.nav__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

}

.nav__links {
    padding: 20px 20px;
    text-decoration: none;
}

.nav__link {
    list-style-type: none;    
    padding: 16px 16px;
}

.nav__link--btn {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 99999px;
    background-color: #6415ff;
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
    border: none;
    width: auto;
}

.container {
    display: flex;
    align-items: center;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    margin: 40px 40px;
}

.header__description--para {
    margin: 16px auto;
}



.purple {
    color: #6415ff;
}

.header__email {
    width: 325px;
    margin: 12px 24px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 999999px;
  }

  .header__email--input {
    color:rgb(160, 174, 192);
    border: none;
    margin-bottom: 12px;
  }

  .header__email--btn {
    background-color: #6415ff;
    color: white;
    border-radius: 999999px;
    width: 125px;
    height: 45px;
    margin-left: 9px;
  }

.header__customer--title {
    color: rgb(160, 174, 192);
    margin-top: 32px;
    margin-bottom: 20px;
}

.header__img {
    width: 512px;
    max-width: 512px;
    margin-left: 32px;
}

/* 

FEATURES

*/

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
}

.feature__title--name {
    margin-top: 20px;
    margin-bottom: 16px;
}

.feature__title {
    margin-bottom: 20px;
    font-size: 48px;
}

.feature__title--para {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-left: 220px;
    padding-right: 220px;
    color: rgb(124, 139, 161);
    font-size: 18px;
    line-height: 1.5;
}
