@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    color: #243e63;
}

#landing {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
section {
    padding: 0 32px;
}

nav {
    display: flex;
    padding-top: 32px;
}
.row__nav--row {
    display: flex;
    justify-content: space-between;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}
.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-left: 400px;
    padding-bottom: 2px;
}

.nav__link:hover {
    color: #6415ff;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

.nav__link {
    margin: 0 24px;
}

a {
    display: inline;
    text-decoration: none;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms;
    opacity: 0;
}

.nav__link:hover {
    color: #6415ff;
}

.login {
    margin-left: 48px;
}


element.style {
}
.nav__link:hover {
    color: #6415ff;
}
.login {
    margin-left: 48px;
}
.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

.nav__link {
    margin: 0 24px;
}

a {
    display: inline;
    text-decoration: none;
}
.nav__link:hover:after {
    opacity: 1;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms;
}

.nav__link--primary:hover {
    background-color: rgba(80, 17, 204);
}

.nav__link:hover {
    color: #6415ff;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    position: relative;
}

a {
    display: inline;
    text-decoration: none;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link--primary:after {
    content: "";
    width: 0;
    height: 0;
}

.nav__link:after {
    position: absolute;
    left: 0px;
    bottom: -6px;
    background: #6415ff;
    transition: all 300ms;
}

.nav__link:hover {
    color: #6415ff;
}
.nav__link--primary {
    line-height: 1.5;
    color: white;
}
.nav__link {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
}



.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;   
}

button {
    cursor: pointer;
}

.container {
    padding: 60px 0;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    margin: 40px 40px;
}

.header__description--para {
    margin: 16px auto;
}

.purple {
    color: #6415ff;
}

.header__email {
    width: 325px;
    margin-top: 12px;
    margin-left: 24px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 999999px;
  }

  .header__email--input {
    color:rgb(160, 174, 192);
    border: none;
    margin-bottom: 12px;
  }

  .header__email--btn:hover {
    background-color: rgba(60, 13, 153);
}
  .header__email--btn {
    background-color: #6415ff;
    color: white;
    border-radius: 999999px;
    width: 125px;
    height: 45px;
    margin-left: 22px;
    transition: all 300ms;
  }

.header__customer--title {
    color: rgb(160, 174, 192);
    margin-top: 32px;
    margin-bottom: 20px;
}

.header__img {
    width: 512px;
    max-width: 512px;
    margin-left: 32px;
}

/* 

SECTIONS

*/
#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__tag {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.section__para {
    max-width: 576px;
    color: rgb(124, 139, 161);
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 36px;
}

/*

FEATURES

*/

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100%/3)

}

.feature__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 12px;
    margin-left: 36px;
}

.feature__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 12px 12px;
    margin-top: 24px;
}

.feature__img--wrapper {
    display: flex;
    width: 24px;
    height: 24px;

}
.feature__para {
    width: 233.39px;
    margin-left: 36px;
    line-height: 1.5;
}
.feature__row {
    display: flex;
    align-items: start;
    box-sizing: border-box;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    padding-left: 8px;
    padding-right: 8px;
}
.blob__img {
    width: 175px;
    height: 200px;
    margin-top: 100px;
    margin-right: 100px;
}

/* 

SECTION 

*/

.row__section {
    display: flex;
    align-items: center;
}

.section__tag {
    padding-left: 32px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.6px;
}

.section__para {
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    padding-left: 12px;
    text-align: left;
}
.quality__description {
    width: calc(100%/3);
    margin-bottom: 100px;
    margin-left: 40px;
}

.btn__quality {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}

.btn {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    margin-left: 24px;
    border-radius: 99999px;
    background-color: #6415ff;
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
    border: none;
    width: 140px;
    transition: all 300ms;
}

.btn__quality:hover {
    background-color: rgba(80, 17, 204);
}

.quality__img {
    width: 500px;
    height: 300px;
    margin-left: 125px;
}

/* 

STEPS

*/

.row__steps {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.img__steps {
    width: 720px;
    margin-left: 75px;
}
.steps__description {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    
}

.step__number {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    color: rgb(203, 213, 224)
}

.steps__tag{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    letter-spacing: 1.6px;
}


.steps__list {
    display: flex;
    margin-top: 24px;
}

.step {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    line-height: 2.0;

}
.step__title {
    font-size: 20px;
    font-weight: bold;
}
.steps__title {
    font-size: 48px;
    font-weight: bold;
}
.step__para {
    color: #718096;
    font-size: 14px;
}

/* 

VALUES 

*/

.value {
    display: flex;
    flex-direction: row;
}

.value__group {
    display: flex;
    flex-direction: column;
    width: calc(100%/2);
    margin-left: 12px;
}

.values__description {
    margin-left: 40px;
}

.value__tag {
    color: #6415ff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.6px;
    margin-bottom: 24px;
    margin-bottom: 12px;

}

.value__title {
    font-size: 48px;
    margin-bottom: 24px;
}

.value__para {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.value__img {
    width: 50px;
    height: 50x;
}

.value__name {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.value__para--afford {
    letter-spacing: 1.6px;
    line-height: 1.6;
    font-size: 12px;
    margin-right: 24px;
    padding-right: 12px;
}

.values__img {
    width: 583px;
    height: 400px;
    z-index: 1;
}

.quality__grid {
    transform: translateX(25%) translateY(2%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    fill: rgb(100, 21, 255);
    position: absolute;
    margin-top: 400px;
    margin-right: 500px;
    z-index: 0;
}

/*transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 90px;
    height: 90px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;*/

.purple__straight{
    display: flex;
    margin-top: 375px;
    width: 50px;
}

/* 

PRICING

*/

.section__tag--price {
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: bold;
    text-align: center;
}

.section__title--price {
    text-align: center;
    font-size: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.section__para--price {
   box-sizing: border-box;
   text-align: center;
   color: #718096;
   margin-left: 250px;
   margin-right: 250px;
   font-size: 18px;
   line-height: 29px;
   padding-bottom: 40px;
}

/* 

PLAN

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 85px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
   margin: 0 auto;
}
.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.para {
    margin-left: 300px;
    margin-right: 300px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}
#pricing .section__title {
    text-align: center;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__price {
    font-size: 48px;
    font-weight: bold;
    margin: 4px 0;
}

.plan__name {
    font-weight: bold;
    font-size: 20px;
}
.plan:nth-child(odd) .plan__duration {
    color: #a0aec0;
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__target, .plan:nth-child(2) .plan__duration, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}
.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
}
#pricing .section__para {
    max-width: 576px;
    text-align: center;
}

.section__para--quality {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    padding-bottom: 24px;
    margin-left: 12px;
}

.plans {
    display: flex;
    width: 100%;
    max-width: 1075px;
    margin-left: 125px;
    position: relative;
    z-index: 100;
}

.plan {
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    z-index: 100;
    background: #fff;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__button:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan__top {
    padding: 32px;
    text-align: center;
}
.plan__middle {
    padding: 32px;
    text-align: center;
}

.plan__bottom {
    padding: 32px;
    text-align: center;
}

.plan:nth-child(1) .plan__middle, .plan:nth-child(3 ) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__button:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

@media (max-width: 1280px) {
    .plan__bottom {
        padding: 32px 64px;
    }
}

.plan__bottom {
    z-index: 10;
    position: relative;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

@media (max-width: 1280px) {
    .plan__button {
        max-width: none;
    }
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan {
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    z-index: 100;
}

.plan:nth-child(2) .plan__stripe {
    visibility: hidden;
}

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}

@media (max-width: 1280px) {
    .plan__button {
        max-width: none;
    }
}

.plan__button {
    text-transform: uppercase;
    text-align: center;
    padding: 16px 32px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    width: 100%;
    max-width: 192px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
    transition: all 300ms;
}

button {
    cursor: pointer;
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan:nth-child(3 ) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

@media (max-width: 1280px) {
    .plan__bottom {
        padding: 32px 64px;
    }
}

.plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
.plan__button {
    text-transform: uppercase;
    text-align: center;
    padding: 16px 32px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    width: 100%;
    max-width: 192px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
    transition: all 300ms;
}

/* 

TESTIMONIALS 

*/
@media (max-width: 1280px) {
    .testimonials__description {
        width: calc(100% - 41.6667%);
    }
}

.love__img {
    width: 400px;
    height: 400px;
    margin-right: 40px;
}

.row__testimonial {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.section__tag--testimonials {
    box-sizing: border-box;
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.section__title--testimonials {
    font-size: 44px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}
.section__para--testimonial {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    margin-bottom: 24px;
}

.testimonial__rating {
    display: flex;
    margin-bottom: 12px;
}
.fa-solid {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}

.profile__pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 24px;
}
.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__details {
    display: flex;
    flex-direction: column;
}

.testimonial__name {
    font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height: 1.5;
}
.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__title {
    margin-bottom: 12px;
}
.testimonial__para {
    margin-bottom: 20px;
    line-height: 1.625;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
    margin-left: 200px;

    
}
.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px; /* Controls arrow size */
    color: #6415ff;
}
.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms;
    
}
button {
    cursor: pointer;
    border: none;
    
}
.testimonial__button:hover {
    background-color: rgba(226, 232, 240);
}

.line {
    height: 24px; /* Adjust length of the line */
    width: 2px; 
    background-color: #a0aec046;
}

.testimonial__button--svg {
    width: 16px;
    height: 16px;
    color: #6415ff;
}


/* 

START 

*/


.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
} 
.start__title, .start__buttons {
        width: 50%;
    }
.start__button--btn1:hover:nth-child(1) {
        background-color: rgba(229, 62, 62);
    }

.start__button--btn1:nth-child(1) {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms;
}
.start__button--btn1 {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 1px;
    z-index: 2;
}
.start__button--btn2:hover:nth-child(2) {
    background-color: rgba(247, 250, 252);
    color: rgba(100, 21, 255);
}

.start__button--btn2:nth-child(2) {
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms;
}

.start__button--btn2 {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: transparent;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 1px;
    z-index: 2;
}
.btn {
    background-color: #6415ff;
}


/* 

TESTIMONIAL BUTTONS 

*/

.testimonial_buttons {
    display: flex;
    align-items: center;
}
.testimonial_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms;
}

.testimonial__button svg {
    width: 16px;
    height: 16px;
}

.svg {
    fill: none;
    stroke: rgb(100, 21, 255);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
}

/* 

FOOTER

*/
.footer__main {
    margin-top: 200px;
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.row__footer--row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}
.footer__column--link:hover {
    color: white;
}
.footer__column--link {
    color: #f7fafc;
    text-decoration: none;
    font-size: 16px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__column--link:hover:after {
    opacity: 1;
}

.footer__column--link:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 300ms;
    opacity: 0;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    color: #243e63;
}

.footer__logo--img {
    height: 35px;
    width: 35px;
    border-radius: 15%;
}

.footer__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__logo--text {
    margin-left: 12px;
    font-size: 18px;
    color: white;
}

.footer__copywrite {
    margin-left: 200px;
   color: #cbd5e0;
   font-weight: bold;
}

.footer__socials {
    margin-left: 300px;
    display: flex;
    align-items: center;
}

.footer__social--link {
    padding: 12px;
    margin-right: 12px;
    background: #f7fafc;
    border-radius: 50%;
}

.facebook__img {
    height: 24px;
    width: 24px;
}
.twitter__img {
    height: 24px;
    width: 24px;
}
.youtube__img {
    height: 24px;
    width: 24px;
}