@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    color: #243e63;
}

#landing {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 40px;
    height: 40px;
    margin: 24px 24px;
}
.logo__title {
    font-size: 24px;
    font-weight: bold;
}

.nav__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

}

.nav__links {
    padding: 20px 20px;
    text-decoration: none;
}

.nav__link {
    list-style-type: none;    
    padding: 16px 16px;
}

.nav__link--btn {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 99999px;
    background-color: #6415ff;
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
    border: none;
    width: auto;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    padding-bottom: 50px;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    margin: 40px 40px;
}

.header__description--para {
    margin: 16px auto;
}

.purple {
    color: #6415ff;
}

.header__email {
    width: 325px;
    margin: 12px 24px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 999999px;
  }

  .header__email--input {
    color:rgb(160, 174, 192);
    border: none;
    margin-bottom: 12px;
  }

  .header__email--btn {
    background-color: #6415ff;
    color: white;
    border-radius: 999999px;
    width: 125px;
    height: 45px;
    margin-left: 9px;
  }

.header__customer--title {
    color: rgb(160, 174, 192);
    margin-top: 32px;
    margin-bottom: 20px;
}

.header__img {
    width: 512px;
    max-width: 512px;
    margin-left: 32px;
}

/* 

SECTIONS

*/

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin-bottom: 68px;
}

.section__tag {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.section__title {
    font-size: 48px;
    margin-bottom: 20px;
    margin-left: 32px;
}

.section__para {
    max-width: 576px;
    color: rgb(124, 139, 161);
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 36px;
}

/*

FEATURES

*/

.features {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
}

.feature {
    width: 384px;

}

.feature__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 12px;
    margin-left: 36px;
}

.feature__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 12px 12px;
    margin-top: 24px;
}

.feature__img--wrapper {
    display: flex;
    width: 24px;
    height: 24px;

}
.feature__para {
    margin-left: 36px;
    line-height: 1.5;
}
.feature__row {
    display: flex;
    align-items: start;
    box-sizing: border-box;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

/* 

SECTION 

*/

.row__section {
        display: flex;
        align-items: center;
}

.section__tag {
    padding-left: 32px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.6px;
}

.section__title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: .9;
    margin-top: 16px;
    margin-bottom: 16px;
}
.section__para {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 26px;
    padding-left: 32px;
    text-align: left;
}
.quality__description {
    width: calc(100%/3);
    margin-bottom: 100px;
    margin-left: 40px;
}

.btn {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    margin-left: 24px;
    border-radius: 99999px;
    background-color: #6415ff;
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
    border: none;
    width: 140px;
}

.quality__img {
    width: 500px;
    height: 300px;
    margin-left: 125px;
}

/* 

STEPS

*/

.row__steps {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.img__steps {
    box-sizing: border-box;
    width: 405px;
    margin-left: 125px;
}
.steps__description {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    
}

.step__number {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    color: rgb(203, 213, 224)
}

.steps__tag{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    letter-spacing: 1.6px;
}


.steps__list {
    display: flex;
    margin-top: 24px;
}

.step {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    line-height: 2.0;

}
.step__title {
    font-size: 20px;
    font-weight: bold;
}
.step__para {
    color: #718096;
    font-size: 14px;
}

/* 

VALUES 

*/

.value {
    display: flex;
    flex-direction: row;
}

.value__group {
    display: flex;
    flex-direction: column;
    width: calc(100%/2);
    margin-left: 12px;
}

.values__description {
    margin-left: 40px;
}

.value__tag {
    color: #6415ff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.6px;
    margin-bottom: 24px;
    margin-bottom: 12px;

}

.value__title {
    font-size: 48px;
    margin-bottom: 24px;
}

.value__para {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.value__img {
    width: 50px;
    height: 50x;
}

.value__name {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.value__para--afford {
    letter-spacing: 1.6px;
    line-height: 1.6;
    font-size: 12px;
    margin-right: 24px;
    padding-right: 12px;
}

.values__img {
    width: 583px;
    height: 400px;
}

/* 

PRICING

*/

.section__tag--price {
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: bold;
    text-align: center;
}

.section__title--price {
    text-align: center;
    font-size: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.section__para--price {
   box-sizing: border-box;
   text-align: center;
   color: #718096;
   margin-left: 250px;
   margin-right: 250px;
   font-size: 18px;
   line-height: 29px;
   padding-bottom: 40px;
}

/* 

PLAN

*/

.row__price {
    max-width: 100%;
}
.plans {
    display: flex;
}

.plan {
    margin: 64px 32px;
    padding-top: 8px;
}

.plan__top{
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 298px;
    height: 208px;
}
.plan__top--buisness{
    background-color: rgb(102, 126, 234);
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 298px;
    height: 208px;
}


.plan__middle {
    padding: 12px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 298px;
    height: 208px;
}
.plan__middle--business {
    background-color: rgb(102, 126, 234);
    padding: 12px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 298px;
    height: 208px;
    }

.plan__bottom {
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 298px;
    height: 130px;
}

.plan__bottom--business {
        background-color: rgb(102, 126, 234);
        padding: 40px;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid lightgrey;
        border-radius: 10px;
        width: 298px;
        height: 130px;
    }

.plan__name {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
    color: #1a202c;
}
.plan__price {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.625;
}
.plan__duration {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: .1em;
    font-weight: bold;
    line-height: 1.625;
}

.plan__name--buisness {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
    color: #fff;
}
.plan__price--buisness {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.625;
    color: #fff;
}
.plan__duration--buisness {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: .1em;
    font-weight: bold;
    line-height: 1.625;
    color: #fff;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1;
}

.plan__target--buisness {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .025em;
}

.plan__feature--buisness {
    color: #fff;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
}
.btn__buy {
    border-radius: 99999px;
    background-color: rgb(56, 178, 172);
    color: #fff;
    font-weight: bold;
    border: none;
    width: 195px;
    height: 55px;
}

.btn__buy--buisness {
    border-radius: 99999px;
    background-color: white;
    color:#6415ff;
    font-weight: bold;
    border: none;
    width: 195px;
    height: 55px;

}

.btn__buy--company {
    border-radius: 99999px;
    background-color: rgba(245, 101, 101, 0.785) ;
    color: #fff;
    font-weight: bold;
    border: none;
    width: 195px;
    height: 55px;
}

/* 

TESTIMONIALS 

*/
@media (max-width: 1280px) {
    .testimonials__description {
        width: calc(100% - 41.6667%);
    }
}

.love__img {
    width: 607px;
    height: 412px;
    margin-right: 24px;
}

.row__testimonial {
    display: flex;
    align-items: center;
}

.section__tag--testimonials {
    box-sizing: border-box;
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.section__title--testimonials {
    font-size: 44px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}
.section__para--testimonial {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    margin-bottom: 24px;
}

.testimonial__rating {
    display: flex;
    margin-bottom: 12px;
}
.fa-solid {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}

.profile__pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 24px;
}
.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__details {
    display: flex;
    flex-direction: column;
}

.testimonial__name {
    font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height: 1.5;
}
.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__title {
    margin-bottom: 12px;
}
.testimonial__para {
    margin-bottom: 20px;
    line-height: 1.625;
}

.testimonial_buttons {
    margin-left: 120px;
}

.testimonial__button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #6415ff;
    margin-right: 24px;
}

/* 

START 

*/

.containers {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    margin-right: 24px;
    margin-left: 24px;
    max-width: 1280px;
    border-radius: 8px;
}

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
    width: 600px;
}

.start__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
}

.start__button-1 {
    padding: 20px 40px;
    border-radius: 500px;
    border-color: white;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #f56565;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 1px;
    z-index: 2;
}
.start__button-2 {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border-color: white;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 24px;
}

/* 

FOOTER

*/
.footer__main {
    margin-top: 200px;
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.row__footer--row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__column--link {
    color: #f7fafc;
    text-decoration: none;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    color: #243e63;
}

.footer__logo--img {
    height: 35px;
    width: 35px;
    border-radius: 15%;
}

.footer__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__logo--text {
    margin-left: 12px;
    font-size: 18px;
    color: white;
}

.footer__copywrite {
    margin-left: 200px;
   color: #cbd5e0;
   font-weight: bold;
}

.footer__socials {
    margin-left: 300px;
    display: flex;
    align-items: center;
}

.footer__social--link {
    padding: 12px;
    margin-right: 12px;
    background: #f7fafc;
    border-radius: 50%;
}

.facebook__img {
    height: 24px;
    width: 24px;
}
.twitter__img {
    height: 24px;
    width: 24px;
}
.youtube__img {
    height: 24px;
    width: 24px;
}